{% stylesheet %}

.carousel-slider h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 20px;
}

.carousel-slider__product {
    margin-right: 10px;
}

.carousel-slider__product-title {
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carousel-slider__product-title a {
    text-decoration: none;
    color: #000;
}

.carousel-slider__product-title a:hover {
    text-decoration: underline;
    color: #000;
}

.carousel-slider__product-description {
    font-family: 'Open Sans', sans-serif;
    max-width: 300px;
    margin: 0;
}

.carousel-slider__product-price .discounted-price{
    color: #4D4D4D;
}

.carousel-slider__product-price .original-price{
    color: #888888;
    text-decoration: line-through;
}

@media screen and (max-width: 865px) {

}

{% endstylesheet %}


<div class="page-width carousel-slider">
    <h2>Product Carousel</h2>
    <!-- Product slider here -->
    <div class="carousel-slider__slick-slider row">
        {% for block in section.blocks %}
            <div class="carousel-slider__product col-6 col-md-4">
                <img src="{{block.settings.product.featured_image.src | image_url: width: 250}}" alt="">
                <h3 class="carousel-slider__product-title"><a href="{{block.settings.product.url}}">{{ block.settings.product }}</a></h3>
                <p class="carousel-slider__product-description">
                    {{block.settings.product.description | truncate: 100}}
                </p>
                <div class="carousel-slider__product-price">
                    <span class="discounted-price">
                        {{block.settings.product.price | money}}
                    </span>
                    <span class="original-price">
                        {{block.settings.product.compare_at_price | money}}
                    </span>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    $('.carousel-slider__slick-slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: false,
        arrows: false
    });
</script>


{% schema %}
{
"name": "Carousel Slider",
"class": "section",
"tag": "section",
"limit": 1,
"blocks": [
{
"name": "Product Slide",
"type": "product_slide",
"settings": [
{
"type": "product",
"id": "product",
"label": "Product",
"info": "Select the product to add to the carousel slider."
}
]
}
],
"settings": [
{
"type": "text",
"id": "carousel_heading",
"label": "Carousel Heading"
}
],
"presets": [
{
"name":"Carousel Slider"
}
]
}
{% endschema %}